<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }} | {{ .Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    <!--<link rel="stylesheet" href="{{ "/css/academicons.css" | relURL }}"/>-->
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67505840-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-67505840-1');
	</script>
  </head>
  <body>
    <div class="wrapper">
      <header>
		<!-- begin photo -->
        {{ with .Site.Params.logo }}
			<img src="{{ . | relURL }}" alt="Logo" />
			&nbsp;
        {{ end }}
		<!-- end photo -->
		
        <h1>{{ .Site.Title }}</h1>

        <!-- begin short bio -->
        <p>{{ .Site.Params.shortbio }}</p>
        <!-- end short bio -->
		
        <div class="compact-sidebar">
		<!-- begin electronic post -->
        <p>
          <img src="{{ "/icons/mail-symbol.svg" | relURL }}" class="octicons">
			<img src="{{ "contacts_email.png" | relURL }}" class="octicons"> @csail.mit.edu
        </p>
		<!-- end electronic post -->

        <!-- begin physical location -->
        <p>
          <img src="{{ "/icons/location-symbol.svg" | relURL }}" class="octicons">
          <a href="{{ .Site.Params.officeMapLink }}" target="_blank">
              {{ .Site.Params.officeAddress }}
          </a>
        </p>
        <!-- end physical location -->

        </div>
		
		<hr/>
        {{ partial "sidebar.html" . }} 
      </header>
